*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
stage1/chunk/
stage1/oracle_camera_graph.json
stage1/checkpoint/
stage1/chunk_largescale
baseline
stage1/output
eval_output
VGGT-Long/exps/
VGGT-Long/build/
VGGT-Long/dist/
VGGT-Long/**/*.egg-info/
VGGT-Long/**/__pycache__/
VGGT-Long/**/*.pyc
VGGT-Long/**/*.nbc
VGGT-Long/**/*.nbi
VGGT-Long/weights/
