*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
stage1/chunk/
stage1/oracle_camera_graph.json
stage1/checkpoint/
stage1/chunk_largescale
baseline
stage1/output
eval_output
